<html class="no-js">

<div id="header">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <meta property="og:title" content="one breath">
    <meta property="og:description" content="This moment is your life. Breathe. Notice it.">
    <meta property="og:image" content="http://i61.tinypic.com/2yjzpsz.png">
    <meta property="og:url" content="http://www.onebreath.io">

    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="bootstrap-theme.css">
    <link rel="stylesheet" href="main.css">
    <link rel="image" type="image/png" href="breathenoticeit.png">

    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <title>one breath</title>
</head>
</div>

<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h1 class="fittext amatic animated fadeIn"> breath. </h1>
        </div>
    </div>

    <section>

        <span class="keep-scrolling hidden-xs"><i class="entypo-down-open-big "></i></span>

    </section>

    <!-- 3 vertical dots -->

    <div class="row">
        <div class="col-xs-12 col-sm-2 col-sm-offset-5">
            <div  class="dot-container dot-first">
                <div class='dot center'></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-2 col-sm-offset-5">
            <div  class="dot-container dot-first">
                <div class='dot center' data-delay='1'></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-2 col-sm-offset-5">
            <div  class="dot-container">
                <div class='dot center'></div>
            </div>
        </div>
    </div>

    <!-- end dots -->

    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <div  class="story-container story">
                <p class="fittext amatic">An integral part of every moment.</p>
            </div>

            <div  class="story-container story">
                <p class="fittext amatic">Every single moment —</p>
            </div>

            <div  class="story-container story">
                <p class="fittext amatic"> both waking and sleeping </p>
            </div>

            <div  class="story-container story">
                <p class="fittext amatic"> — is predicated on the fact that one is breathing. </p> </br>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-3">
            <div  class="story-container story">
                <p class="fittext amatic"> It’s one thing that everyone in the world has in common. </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <div  class="story-container story">
                <p class="fittext amatic"> We all inhale, we all exhale.</p>
            </div>

             <div  class="story-container story">
                <p class="fittext amatic"> A continuous cycle of breath, life in motion.</p>
            </div>
        </div>
    </div>

    <!-- color change navy >> blue/purple -->
    <div class="color-change" data-colorup="#354D78" data-colordown="#3D3295"></div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="story-container story">
                <p class="fittext amatic"> But </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="story-container story">
                <p class="fittext amatic"> what </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="story-container story">
                <p class=" fittext amatic"> is </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="story-container story">
                <p class=" fittext amatic"> actually </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div id="s4" class="story-container story">
                <p class="fittext amatic"> happening </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div id="s5" class="story-container">
                <p class="fittext amatic"> in </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="story-container story">
                <p class=" fittext amatic"> our </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="story-container story">
                <p class=" fittext amatic"> bodies? </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-6" data-delay="3">
            <div class="story-container">
                <p class="fittext amatic"> In our cells? </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5 ">
            <div  class="story-container story">
                <p class="fittext amatic " data-margin="50">Each inhale fills our lungs with oxygen,</p>
            </div>

    <!-- color change blue/purple>> blue -->
    <div class="color-change" data-colorup="#3D3295" data-colordown="#2980B9"></div>

            <div  class="story-container story">
                <p class="fittext amatic"> gentle diffusion exchanges O2 for CO2.</p>
            </div>

            <div  class="story-container story">
                <p class="fittext amatic "> Oxygen then circulates the body providing rich nourishment to our cells. </p>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-3">
            <div  class="story-container story">
                <p class="fittext amatic " data-margin="50" > In the cell, O2 plays a key role in the  body’s ability to produce energy. </p> </br>
            </div>

            <div  class="story-container story">
                <p class="fittext amatic " data-margin="50"> ------------- </p>
            </div>

            <div  class="story-container story">
                <p class="fittext amatic " data-margin="50"> Energy sustains life. </p>
            </div>

            <div  class="story-container story">
                <p class="fittext amatic " data-margin="50"> ------------- </p>
            </div>

            <div  class="story-container story">
                <p class="fittext amatic " data-margin="50" > So with each breath, we become a little bit more alive. </p>
            </div>
        </div>
    </div>

    <!-- color change blue >> orange -->
    <div class="color-change" data-colorup="#2980B9" data-colordown="#BB683E"></div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-6">
            <div class="story-container">
                <p class="fittext amatic "> Each exhale expels CO2, </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-6 ">
            <div  class="story-container story">
                <p class="fittext amatic ">ridding the body of excess carbon</p>
            </div>
        </div>
    </div>

    <!-- color change orange >> green/blue -->
    <div class="color-change" data-colorup="#BB683E" data-colordown="#0D777D"></div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-6 ">
            <div  class="story-container story">
                <p class="fittext amatic ">decreasing the pressure in our chest cavities,</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-6 ">
            <div  class="story-container story">
                <p class="fittext amatic ">r e l a x i n g the body in the process.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4 ">
            <div  class="story-container story">
                <p class="fittext amatic ">Relaxing the mind.</p>
            </div>
        </div>
    </div>

    <!-- dots to right of text -->

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div  class="story-container story">
                <p class="fittext amatic ">This cycle continues day</p>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-4 ">
            <div  class="dot-container">
                <div class='dot float-left'></div>
            </div>
        </div>
    </div>

    <!-- color change green/blue >> blue/purple -->
    <div class="color-change" data-colorup="#0D777D" data-colordown="#3D3295"></div>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div  class="story-container story">
                <p class="fittext amatic ">in and day out.</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 ">
            <div  class="dot-container">
                <div class='dot float-left'></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 ">
            <div  class="story-container story">
                <p class="fittext amatic ">Whether conscious of it</p>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-4 ">
            <div  class="dot-container">
                <div class='dot float-left'></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 ">
            <div  class="story-container story">
                <p class="fittext amatic ">or not.</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 ">
            <div  class="dot-container">
                <div class='dot float-left'></div>
            </div>
        </div>
    </div>

    <!-- dots end -->

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-2">
            <div id="s4" class="story-container story">
                <p class="fittext amatic uppercase"> But what if we</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-1">
            <div id="s5" class="story-container">
                <p class="fittext amatic uppercase"> were </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-2">
            <div class="story-container story">
                <p class=" fittext amatic uppercase"> conscious of it? </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-3">
            <div class="story-container story" data-delay='3'>
                <p class=" fittext amatic "> All the time? </p>
            </div>
        </div>
    </div>

    <!-- 2 horizontal dots -->

    <div class="row">
        <div class="col-xs-12 col-sm-2 col-sm-offset-4">
            <div  class="dot-container">
                <div class='dot center'></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-2">
            <div  class="dot-container">
                <div class='dot center'></div>
            </div>
        </div>
    </div>

    <!-- end dots -->

    <!-- color change blue/purple >> light blue -->
    <div class="color-change" data-colorup="#3D3295" data-colordown="#448FC1"></div>

    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-3">
            <div class="story-container story" data-delay='3'>
                <p class=" fittext amatic "> Conscious breathing is a powerful tool for cultivating presence. </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-7">
            <div class="story-container story" data-delay='3'>
                <p class="fittext amatic "> The present moment is real. </p>
            </div>

            <div class="story-container story" data-delay='3'>
                <p class=" fittext amatic "> The only true reality. </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-4">
            <div class="story-container story" data-delay='3'>
                <p class="fittext amatic "> 'The only place where life exists.' - Patanjali </p>
            </div>
        </div>
    </div>

    <!-- color change light blue >> green/blue -->
    <div class="color-change" data-colorup="#448FC1" data-colordown="#0D777D"></div>

    <!-- 2 horizontal dots -->

    <div class="row">
        <div class="col-xs-12 col-sm-2 col-sm-offset-4">
            <div  class="dot-container">
                <div class='dot center'></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-2">
            <div  class="dot-container">
                <div class='dot center'></div>
            </div>
        </div>
    </div>

    <!-- end dots -->

    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <div class="story-container story" data-delay='3'>
                <p class="fittext amatic "> A conscious breath can be as simple as a breath noticed.</p>
            </div>
        </div>
    </div>

    <!-- 2 vertical dots -->

    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <div  class="dot-container">
                <div class='dot center'></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <div  class="dot-container">
                <div class='dot center'></div>
            </div>
        </div>
    </div>

    <!-- end dots -->

    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
            <div class="story-container story" data-delay='3'>
                <p class="fittext amatic "> Noticing our breath brings us into the present moment. </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-6">
            <div class="story-container story" data-delay='3'>
                <p class="fittext amatic "> It allows for </p>
            </div>
        </div>
    </div>

    <!-- color change green/blue >> blue/purple -->
    <div class="color-change" data-colorup="#0D777D" data-colordown="#3D3295"></div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-5">
            <div class="story-container story" data-delay='3'>
                <p class="fittext amatic "> depth </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-6">
            <div class="story-container story" data-delay='3'>
                <p class="fittext amatic "> in the human experience. </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="story-container story" data-delay='3'>
                <p class="fittext amatic "> It allows this moment to become reality. </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-3">
            <div class="story-container story" data-delay='3'>
                <p class="fittext amatic "> A </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-3">
            <div class="story-container story" data-delay='3'>
                <p class="fittext amatic "> true, </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-3">
            <div class="story-container story" data-delay='3'>
                <p class="fittext amatic "> valid, </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="story-container story" data-delay='3'>
                <p class="fittext amatic "> deep, </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-3">
            <div class="story-container story" data-delay='3'>
                <p class="fittext amatic "> beautiful, </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <div class="story-container story" data-delay='3'>
                <p class="fittext amatic "> meaningful </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-3">
            <div class="story-container story" data-delay='3'>
                <p class="fittext amatic "> reality. </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="hr-container">
                <hr data-margin="50">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-sm-offset-3">
            <div  class="story-container story">
                <p class="fittext amatic"> With each breath, we give our bodies the opportunity to produce energy. To sustain life. </p>
            </div>
        </div>

    <!-- color change blue/purple >> blue -->
    <div class="color-change" data-colorup="#3D3295" data-colordown="#2980B9"></div>

        <div class="col-xs-12 col-sm-4 col-sm-offset-5">
            <div  class="story-container story">
                <p class="fittext amatic"> With each breath, we are given the opportunity to come to the present moment. To truly live.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="hr-container">
                <hr data-margin="50">
            </div>
        </div>
    </div>

    <!-- color change blue >> green/blue -->
    <div class="color-change" data-colorup="#2980B9" data-colordown="#0D777D"></div>

    <div class="row">
        <!-- <div class="col-xs-12 col-sm-5 col-sm-offset-3"> -->
            <div class="story-container story" margin="50">
                <p class="fittext amatic "> This moment is your life. </p>
            </div>
        <!-- </div> -->
    </div>

<br/>
<br/>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-2">
            <div class="story-container story" margin="50">
                <p class="fittext amatic "> Breathe.   </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5 col-sm-offset-3">
            <div class="story-container story">
                <p class="fittext amatic "> Notice it. </p>
            </div>
        </div>
    </div>

</div> <!-- /container --> 

<%= render partial: 'footer', locals: { welcome: @welcome } %>

</body>     
</html>