<div class="body">
    <h3>What is breath?</h3>
    <p>A bunch of content about breathing.</p>

    <h3>Why is it vital?</h3>
    <p>It's so important for so many reasons.</p>

    <h3>What does noticing your breath do?</h3>
    <p>It allows you to be mindful and live consciously and rule the world.</p>
</div>