<div class="body">
 <% if current_user %>
    <p>take 1 conscious breath/day</p>
    <p>1 random reminder/day</p>
    <p>to your <%=link_to 'email', edit_profile_path%></p>
    <p>or <%=link_to 'phone', edit_profile_path%>.</p><br />
    <p>that's it.</p>
 <% else %>
    <p>take 1 conscious breath/day</p>
    <p>1 random reminder/day</p>
    <p>to your <%=link_to 'email', new_user_registration_path%></p>
    <p>or <%=link_to 'phone', new_user_registration_path%>.</p><br />
    <p>that's it.</p>
<%end%>
</div>