<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Reminder email</h1>
    <p>
      Reminder email content
    </p>
    <p>
      More content about why this is awesome. 
      <%= @url %>
    </p>
  </body>
</html>