<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p>(Please note that if you submitted a phone number, a separate verification code was sent to your phone that you may enter upon intial sign in. Feel free to reply to this email should you require additional assistance.)</p>
<br/>
-- 
<p> onebreath.io -- a simple tool for daily breath awareness </p>
